@card-width: 124px;
@card-height: 172px;

@tablet-adjust: 16px;
@phone-adjust: 34px;

.card-size {
    width: @card-width;
    height: @card-height;

    @media screen and (max-height:900px) { 
        width: @card-width - @tablet-adjust;
        height: @card-height - @tablet-adjust;
    }
    // smart phone
    @media screen and (max-width:450px) {
        width: @card-width - @phone-adjust;
        height: @card-height - @phone-adjust;
    }
}
.card-content-size {
    height: @card-height - 48px;

    @media screen and (max-height:900px) { 
        height: @card-height - 48px - @tablet-adjust;
    }
    // smart phone
    @media screen and (max-width:450px) {
        height: @card-height - 48px - @phone-adjust + 8px;
    }
}

.card-container {
    margin: 8px;
    border-radius: 2px;
    border: 1px solid #888;
    position: relative;
    transition: all 0.5s ease;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25), 0 1px 2px 0 rgba(0,0,0,.15), 0 -1px 4px -1px rgba(0,0,0,.1);

    &.selectable {
        cursor: pointer;
        animation: selectable-highlight 1.0s ease 0s infinite normal;
    }

    // smart phone
    @media screen and (max-width:450px) {
        margin: 4px;
    }
}

.card {
    .card-size;
    position: relative;
    background-color: transparent;
}

.card-header {
    padding: 8px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255,255,255,.7);
    
    // smart phone
    @media screen and (max-width:450px) {
        .img-tip {
            position: absolute;
            top: 6px;
            right: 6px;
        
        }
    }
}

.card-content {
    padding: 4px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    .card-content-size;
}

.point {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    
    // smart phone
    @media screen and (max-width:450px) {
        height: 22px;
        width: 22px;
        font-size: 16px;
    }
}

.card-pict {
    .card-size;
    position: absolute;
}

.cost-row {
    height: 28px;

    // smart phone
    @media screen and (max-width:450px) {
        height: 24px;
    }
}
.cost {
    display: inline-block;
    padding-top: 2px;
    padding-left: 4px;
    height: 22px;
    background-color: rgba(255,255,255,.6);
}
.count {
    vertical-align: super;
    padding: 0 4px;
    line-height: 24px;
    font-family: sans-serif;
    font-size: 18px;
    
    // smart phone
    @media screen and (max-width:450px) {
        font-size: 16px;
        line-height: 22px;
    }
}


.img-tip {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    // smart phone
    @media screen and (max-width:450px) {
        width: 20px;
        height: 20px;
        position: relative;
        top: -2px;
    }
    &.white {
        content: url(/assets/tip/white.jpg);
    }
    &.blue {
        content: url(/assets/tip/blue.jpg);
    }
    &.green {
        content: url(/assets/tip/green.jpg);
    }
    &.red {
        content: url(/assets/tip/red.jpg);
    }
    &.black {
        content: url(/assets/tip/black.jpg);
    }
}

.img-white-1-1 {
    content: url(/assets/card/white-1-1.jpg);
}
.img-white-1-2 {
    content: url(/assets/card/white-1-2.jpg);
}
.img-blue-1-1 {
    content: url(/assets/card/blue-1-1.jpg);
}
.img-blue-1-2 {
    content: url(/assets/card/blue-1-2.jpg);
}
.img-green-1-1 {
    content: url(/assets/card/green-1-1.jpg);
}
.img-green-1-2 {
    content: url(/assets/card/green-1-2.jpg);
}
.img-red-1-1 {
    content: url(/assets/card/red-1-1.jpg);
}
.img-red-1-2 {
    content: url(/assets/card/red-1-2.jpg);
}
.img-black-1-1 {
    content: url(/assets/card/black-1-1.jpg);
}
.img-black-1-2 {
    content: url(/assets/card/black-1-2.jpg);
}

.img-white-2-1 {
    content: url(/assets/card/white-2-1.jpg);
}
.img-white-2-2 {
    content: url(/assets/card/white-2-2.jpg);
}
.img-blue-2-1 {
    content: url(/assets/card/blue-2-1.jpg);
}
.img-blue-2-2 {
    content: url(/assets/card/blue-2-2.jpg);
}
.img-green-2-1 {
    content: url(/assets/card/green-2-1.jpg);
}
.img-green-2-2 {
    content: url(/assets/card/green-2-2.jpg);
}
.img-red-2-1 {
    content: url(/assets/card/red-2-1.jpg);
}
.img-red-2-2 {
    content: url(/assets/card/red-2-2.jpg);
}
.img-black-2-1 {
    content: url(/assets/card/black-2-1.jpg);
}
.img-black-2-2 {
    content: url(/assets/card/black-2-2.jpg);
}

.img-white-3-1 {
    content: url(/assets/card/white-3-1.jpg);
}
.img-blue-3-1 {
    content: url(/assets/card/blue-3-1.jpg);
}
.img-green-3-1 {
    content: url(/assets/card/green-3-1.jpg);
}
.img-red-3-1 {
    content: url(/assets/card/red-3-1.jpg);
}
.img-black-3-1 {
    content: url(/assets/card/black-3-1.jpg);
}

@keyframes selectable-highlight {
  0% { box-shadow: 0 3px 6px 0 rgba(242, 245, 70,.25), 0 1px 2px 0 rgba(0,0,0,.15), 0 -1px 4px -1px rgba(242, 245, 70,.1); }
  50% { box-shadow: 0 0 4px 8px rgba(242, 245, 70, 0.5), 0 0 5px 10px rgba(242, 245, 70,.3); }
  100% { box-shadow: 0 3px 6px 0 rgba(242, 245, 70,.25), 0 1px 2px 0 rgba(0,0,0,.15), 0 -1px 4px -1px rgba(242, 245, 70,.1); }
}