<div class="card-container" *ngIf="card!=null" [class.selectable]="card.selectable" >
    <div class="card-pict img-{{card.img}}"></div>
    <div *ngIf="card!=null" class="card" (click)="onClick()">
        <div class="card-header">
            <div class="point" [class.invisible]="card.point==0">{{card.point}}</div>
            <div class="color"><img class="img-tip"
                [class.white]="card.color==0"
                [class.blue]="card.color==1"
                [class.green]="card.color==2"
                [class.red]="card.color==3"
                [class.black]="card.color==4"></div>
        </div>
        <div class="card-content">
            <div class="cost-row" [class.hidden]="card.white==0">
                <span class="cost"><img class="img-tip white"/><span class="count">{{card.white}}</span></span>
            </div>
            <div class="cost-row" [class.hidden]="card.blue==0">
                <span class="cost"><img class="img-tip blue"/><span class="count">{{card.blue}}</span></span>
            </div>
            <div class="cost-row" [class.hidden]="card.green==0">
                <span class="cost"><img class="img-tip green"/><span class="count">{{card.green}}</span></span>
            </div>
            <div class="cost-row" [class.hidden]="card.red==0">
                <span class="cost"><img class="img-tip red"/><span class="count">{{card.red}}</span></span>
            </div>
            <div class="cost-row" [class.hidden]="card.black==0">
                <span class="cost"><img class="img-tip black"/><span class="count">{{card.black}}</span></span>
            </div>
        </div>
    </div>
</div>