<div class="card rear" [class.selectable]="status.phase=='select-reservation-card'" [class.invisible]="deck.length==0">
    <div class="figure"
            [class.level-1]="level==1"
            [class.level-2]="level==2"
            [class.level-3]="level==3">
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="signs">
            <div class="level-sign"></div>
            <div class="level-sign" *ngIf="level>1"></div>
            <div class="level-sign" *ngIf="level>2"></div>
        </div>
    </div>
</div>