@tile-width: 124px;
@tile-height: 144px;

@tablet-adjust: 16px;
@phone-adjust: 32px;

.tile-size {
    width: @tile-width;
    height: @tile-height;

    @media screen and (max-height:900px) { 
        width: @tile-width - @tablet-adjust;
        height: @tile-height - @tablet-adjust;
    }
    // smart phone
    @media screen and (max-width:400px) {
        width: @tile-width - @phone-adjust;
        height: @tile-height - @phone-adjust;
    }
}
.tile-content-size {
    height: @tile-height - 36px;

    @media screen and (max-height:900px) { 
        height: @tile-height - 36px - @tablet-adjust;
    }
    // smart phone
    @media screen and (max-width:400px) {
        height: @tile-height - 48px - @phone-adjust + 12px;
    }
}

.tile-container {
    .tile-size;
    margin: 8px;
    border-radius: 2px;
    border: 1px solid #888;
    position: relative;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25), 0 1px 2px 0 rgba(0,0,0,.15), 0 -1px 4px -1px rgba(0,0,0,.1);

    // smart phone
    @media screen and (max-width:400px) {
        margin: 4px;
    }
}

.tile {
    position: relative;
    background-color: transparent;
}

.tile-header {
    padding: 4px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255,255,255,.7);
}

.tile-content {
    padding: 4px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    .tile-content-size;
}

.point {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;

    // smart phone
    @media screen and (max-width:400px) {
        height: 22px;
        width: 22px;
        font-size: 16px;
    }
}

.cost-row {
    height: 28px;

    // smart phone
    @media screen and (max-width:400px) {
        height: 24px;
    }
}
.cost {
    display: inline-block;
    padding-top: 2px;
    padding-left: 4px;
    height: 26px;
    background-color: rgba(255,255,255,.6);
    
    // smart phone
    @media screen and (max-width:400px) {
        height: 22px;
    }
}
.count {
    vertical-align: super;
    padding: 0 4px;
    line-height: 24px;
    font-family: sans-serif;
    font-size: 18px;
    
    // smart phone
    @media screen and (max-width:400px) {
        font-size: 16px;
        line-height: 22px;
    }
}

.tile-pict {
    .tile-size;
    position: absolute;
}

.img-tip {
    width: 24px;
    height: 24px;
    // smart phone
    @media screen and (max-width:400px) {
        width: 20px;
        height: 20px;
        position: relative;
        top: -2px;
    }
    &.white {
        content: url(/assets/tip/white.jpg);
    }
    &.blue {
        content: url(/assets/tip/blue.jpg);
    }
    &.green {
        content: url(/assets/tip/green.jpg);
    }
    &.red {
        content: url(/assets/tip/red.jpg);
    }
    &.black {
        content: url(/assets/tip/black.jpg);
    }
}

.img-noble-0 {
    content: url(/assets/tile/noble-0.jpg);
}
.img-noble-1 {
    content: url(/assets/tile/noble-1.jpg);
}
.img-noble-2 {
    content: url(/assets/tile/noble-2.jpg);
}
.img-noble-3 {
    content: url(/assets/tile/noble-3.jpg);
}
.img-noble-4 {
    content: url(/assets/tile/noble-4.jpg);
}
.img-noble-5 {
    content: url(/assets/tile/noble-5.jpg);
}
.img-noble-6 {
    content: url(/assets/tile/noble-6.jpg);
}
.img-noble-7 {
    content: url(/assets/tile/noble-7.jpg);
}
.img-noble-8 {
    content: url(/assets/tile/noble-8.jpg);
}
.img-noble-9 {
    content: url(/assets/tile/noble-9.jpg);
}