<div class="tile-container">
    <div class="tile-pict img-{{tile.img}}"></div>
    <div class="tile" (click)="onClick()">
        <div class="tile-header">
            <div class="point" [class.invisible]="tile.point==0">{{tile.point}}</div>
        </div>
        <div class="tile-content">
            <div class="cost-row" [class.hidden]="tile.white==0">
                <span class="cost"><img class="img-tip white"/><span class="count">{{tile.white}}</span></span>
            </div>
            <div class="cost-row" [class.hidden]="tile.blue==0">
                <span class="cost"><img class="img-tip blue"/><span class="count">{{tile.blue}}</span></span>
            </div>
            <div class="cost-row" [class.hidden]="tile.green==0">
                <span class="cost"><img class="img-tip green"/><span class="count">{{tile.green}}</span></span>
            </div>
            <div class="cost-row" [class.hidden]="tile.red==0">
                <span class="cost"><img class="img-tip red"/><span class="count">{{tile.red}}</span></span>
            </div>
            <div class="cost-row" [class.hidden]="tile.black==0">
                <span class="cost"><img class="img-tip black"/><span class="count">{{tile.black}}</span></span>
            </div>
        </div>
    </div>
</div>