@top-fix-height: 24px;

.screen {

    display: flex;
    // smart phone
    @media screen and (max-width:400px) { 
        padding-top: 24px;
    }

}

.screen-tab {
    display: none;

    // smart phone
    @media screen and (max-width:400px) { 
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
        background-color: rgba(0, 0, 0, .7);
        height: @top-fix-height;
        width: 100%;
        margin: 0;

        .tab-button {
            border-radius: 0;
            border: none;
            color: #e1e1e1;
            background-color: transparent;
            box-shadow: none;
            width: inherit;

            &+.tab-button {
                border-left: 1px solid #aaa;
            }
        }
    }
}

.players {
    min-width: 200px;
    margin: 8px;

    .player-info {
        padding: 8px 12px;

        &.my-turn {
            border-left: 8px #e91e63 solid;
        }

        .player-tips-row {
            display: flex;

            > div {
                margin-right: 8px;
            }
        }
    }
    .turn-mark {
        color: white;
        background-color: #e91e63;
        border-color: #e91e63;
        border-radius: 10px;
        font-size: 12px;
        padding: 2px 8px;
        margin-left: 8px;
    }

    // smart phone
    @media screen and (max-width:400px) { 
        display: none;
        height: calc(100vh - @top-fix-height);
        width: 100%;
        margin: 0;
        overflow: scroll;

        &.open {
            display: block;
            margin-bottom: 40px;
        }
    }
}

.main-field {

    // smart phone
    @media screen and (max-width:400px) {
        display: none;
        padding: 8px;
        height: calc(100vh - @top-fix-height);
        position: relative;
        overflow: scroll;

        &.open {
            display: block;
        }
    }
}

.asset-field {
    display: flex;

    // smart phone
    @media screen and (max-width:400px) {
        flex-direction: column;
    }
    
    .reserved-asset {
        margin-left: 32px;
        background-color: #d1ffd1;

        // smart phone
        @media screen and (max-width:400px) {
            margin-top: 16px;
            display: flex;
            margin-left: 0;
        }

        .reserved-card-frame {
            margin-bottom: 16px;

            // smart phone
            @media screen and (max-width:400px) {
                margin-bottom: 0;
            }
        }
    } 
}

.public-asset {
    // smart phone
    @media screen and (max-width:400px) {
        display: flex;
        justify-content: space-around;
    }
}

.noble-field {
    display: flex;

    // smart phone
    @media screen and (max-width:400px) {
        margin: 16px 0;
        flex-wrap: wrap;
        width: 100%;
    }
}

.operation-field {
    background-color: #fff;
    button {
        margin: 0 4px;
        padding: 8px 16px;
    }

    // smart phone
    @media screen and (max-width:400px) {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        padding: 8px 4px;
        left: 0;
        right: 0;

        button {
            margin: 4px;
            padding: 4px;
            font-size: 11.5px;
            width: 17%;
        }
    }

    .ope-diff3:before {
        content: '違う種類の宝石を３つ取る';

        // smart phone
        @media screen and (max-width:400px) {
            content: '違種\A３つ';
            white-space: pre;
        }
    }

    .ope-same2:before {
        content: '同じ種類の宝石を２つ取る';

        // smart phone
        @media screen and (max-width:400px) {
            content: '同種\A２つ';
            white-space: pre;
        }
    }
    
    .ope-purchase:before {
        content: 'カードを購入する';

        // smart phone
        @media screen and (max-width:400px) {
            content: 'カード\A購入';
            white-space: pre;
        }
    }
    
    .ope-reserve:before {
        content: 'カードを予約する';

        // smart phone
        @media screen and (max-width:400px) {
            content: 'カード\A予約';
            white-space: pre;
        }
    }
    
}

.padding-space {
    // smart phone
    @media screen and (max-width:400px) { 
        padding: 80px;
    }
}

.log-area {
    
    // smart phone
    @media screen and (max-width:400px) { 
        display: none;
        position: absolute;
        z-index: 100;
        background-color: #fff;
        height: 100%;
        width: 100%;
        margin: 0;

        &.open {
            display: block;
        }
    }
}

.tip-field {
    margin: 8px;
    display: flex;
    
    .img-tip {
        width: 48px;
        height: 48px;
    }
    .tip-count {
        font-size: 20px;
    }

    > div {
        margin-right: 16px;
    }

    // smart phone
    @media screen and (max-width:400px) {
        margin: 16px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .img-tip {
            width: 32px;
            height: 32px;
        }
        .tip-count {
            margin-left: 2px;
            font-size: 14px;
        }
    
        > div {
            margin-right: 0;
        }
    }
}
.tip-count {
    vertical-align: super;
}
.total-count {
    vertical-align: super;
    margin-left: 8px;
}
.img-tip {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #aaa;
    &.asset {
        border-radius: 0;
    }
    &.white {
        content: url(/assets/tip/white.jpg);
    }
    &.blue {
        content: url(/assets/tip/blue.jpg);
    }
    &.green {
        content: url(/assets/tip/green.jpg);
    }
    &.red {
        content: url(/assets/tip/red.jpg);
    }
    &.black {
        content: url(/assets/tip/black.jpg);
    }
    &.gold {
        content: url(/assets/tip/gold.jpg);
    }
}
