<div class="screen-tab">
    <button class="tab-button" (click)="switchScreen('field')">フィールド</button>
    <button class="tab-button" (click)="switchScreen('players')">プレイヤー</button>
    <button class="tab-button" (click)="switchScreen('log')">ログ</button>
</div>
<div class="screen">
    <div class="players" [class.open]="status.screenMode=='players'">
        <div *ngFor="let player of status.players" class="player-info" [class.my-turn]="player.myTurn">
            <div><span>{{player.name}}</span><span *ngIf="player.myTurn" class="turn-mark">playing</span></div>
            <div><span>{{player.point}}</span><span> Point</span></div>
            <div class="player-tips-row">
                <div><i class="img-tip white"></i><span class="tip-count">×{{player.tips.white}}</span></div>
                <div><i class="img-tip asset white"></i><span class="tip-count">×{{player.assets.white}}</span><span class="total-count">={{player.getTotalWhite()}}</span></div>
            </div>
            <div class="player-tips-row">
                <div><i class="img-tip blue"></i><span class="tip-count">×{{player.tips.blue}}</span></div>
                <div><i class="img-tip asset blue"></i><span class="tip-count">×{{player.assets.blue}}</span><span class="total-count">={{player.getTotalBlue()}}</span></div>
            </div>
            <div class="player-tips-row">
                <div><i class="img-tip green"></i><span class="tip-count">×{{player.tips.green}}</span></div>
                <div><i class="img-tip asset green"></i><span class="tip-count">×{{player.assets.green}}</span><span class="total-count">={{player.getTotalGreen()}}</span></div>
            </div>
            <div class="player-tips-row">
                <div><i class="img-tip red"></i><span class="tip-count">×{{player.tips.red}}</span></div>
                <div><i class="img-tip asset red"></i><span class="tip-count">×{{player.assets.red}}</span><span class="total-count">={{player.getTotalRed()}}</span></div>
            </div>
            <div class="player-tips-row">
                <div><i class="img-tip black"></i><span class="tip-count">×{{player.tips.black}}</span></div>
                <div><i class="img-tip asset black"></i><span class="tip-count">×{{player.assets.black}}</span><span class="total-count">={{player.getTotalBlack()}}</span></div>
            </div>
            <div class="player-tips-row">
                <div><i class="img-tip gold"></i><span class="tip-count">×{{player.tips.gold}}</span></div>
            </div>
        </div>
        <div class="padding-space"></div>
    </div>
    <div class="main-field" [class.open]="status.screenMode=='field'">
        <div class="play-field">
            <div class="asset-field">
                <div class="public-asset">
                    <app-asset-line level=1 (selected)="onSelected($event)" (rearselected)="onRearSelected($event)"></app-asset-line>
                    <app-asset-line level=2 (selected)="onSelected($event)" (rearselected)="onRearSelected($event)"></app-asset-line>
                    <app-asset-line level=3 (selected)="onSelected($event)" (rearselected)="onRearSelected($event)"></app-asset-line>
                </div>
                <div class="reserved-asset">
                    <div class="reserved-card-frame" *ngFor="let card of status.getCurrentPlayer().reservations">
                        <app-card [(card)]="card" (selected)="onSelected($event)"></app-card>
                    </div>
                </div>
            </div>
            <div class="noble-field">
                <app-tile *ngFor="let noble of status.tiles" [(tile)]="noble"></app-tile>
            </div>
            <div class="tip-field">
                <div><i class="img-tip white"></i><span class="tip-count">×{{status.tipResource.white}}</span></div>
                <div><i class="img-tip blue"></i><span class="tip-count">×{{status.tipResource.blue}}</span></div>
                <div><i class="img-tip green"></i><span class="tip-count">×{{status.tipResource.green}}</span></div>
                <div><i class="img-tip red"></i><span class="tip-count">×{{status.tipResource.red}}</span></div>
                <div><i class="img-tip black"></i><span class="tip-count">×{{status.tipResource.black}}</span></div>
                <div><i class="img-tip gold"></i><span class="tip-count">×{{status.tipResource.gold}}</span></div>
            </div>
        </div>
        <div class="padding-space"></div>
        <div class="operation-field">
            <button class="ope-diff3" (click)="openMultiSelectDialog()"></button>
            <button class="ope-same2" (click)="openSingleSelectDialog()"></button>
            <button class="ope-purchase" (click)="purchaseCard()"></button>
            <button class="ope-reserve" [class.disabled]="!status.canReserve()" [disabled]="!status.canReserve()" (click)="reserveCard()"></button>
            <button class="ope-cancel" [class.disabled]="status.phase!='select-purchase-card'&&status.phase!='select-reservation-card'" (click)="onCancel()">キャンセル</button>
        </div>
    </div>
    <div class="log-area" [class.open]="status.screenMode=='log'">
        <app-log-display></app-log-display>
    </div>

    <app-tip-multi-select-dialog (over)="onPossessionOver($event)"></app-tip-multi-select-dialog>
    <app-tip-single-select-dialog (over)="onPossessionOver($event)"></app-tip-single-select-dialog>
    <app-tip-release-dialog></app-tip-release-dialog>
    <app-noble-select-dialog></app-noble-select-dialog>
    <app-gameset-slide></app-gameset-slide>
</div>